<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Silicon</title>
    <script src="https://kit.fontawesome.com/5ba21a76f4.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

</head>
<body>
    @RenderBody()

    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>
